<h1>Would you like to work together?</h1>

<hr>

<div class="row">
	<div class="col-md-6">
		<h3>Office Address</h3>

		<p>216 Skyview Ranch RD, NE, Calgary, Alberta, Canada</p>

		<h3>Phone</h3>

		<p><%= number_to_phone "5555555555" %></p>

		<h3>Email</h3>

		<p><a href="tutkoang@gmail.com?subject=PortfolioContact">Email me</a></p>
	</div>
	<div class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2502.0359255979797!2d-113.96001314848614!3d51.16312707947989!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5371617bb63c276d%3A0x255b7c2e415ae794!2s216+Skyview+Ranch+Rd%2C+Calgary%2C+AB+T3N+1L7!5e0!3m2!1sen!2sca!4v1544903432976" width="450" height="450" frameborder="0" style="border:0" allowfullscreen>
		</iframe>
	</div>
</div>